<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Test">
    <listeners>
        <listener class-name="util.ReportUtil"/>
    </listeners>

    <test name="Smoke Test">
        <classes>
            <class name="scenarios.CountryObjectValidate"/>
            <class name="scenarios.StateObjectValidate"/>
        </classes>
    </test>
</suite>
